@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@400;500;700;900&family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
  --point-color: #4A5CF6;
  --sub-color : #666;
  --title-text: 1.2em;
  --sub-text: 0.7em;
  --global-radius : 5px;
  --img-radius : 15px;
  --shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

*{margin: 0;padding: 0;box-sizing: border-box; outline: none;}
body {font-family: 'Noto Sans KR', sans-serif; overflow-x: hidden;}
a {text-decoration: none; color: inherit;}
li {list-style: none;}
img {display: block;}
/* btn */
.contact__btn {
  width: 130px;
  height: 40px;
  display: block;
  font-family: 'Poppins', sans-serif;
  background-color: var(--point-color);
  color: #fff;
  outline: none;
  border: none;
  border-radius: var(--global-radius);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.demo__btn {
  width: 70px;
  height: 35px;
  font-size: 0.7em;
  font-weight: 500;
  display: block;
  background-color: var(--point-color);
  color: #fff;
  outline: none;
  border: none;
  border-radius: var(--global-radius);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* icon */
.icon {
  color: var(--point-color);
}
.img-icon {
  width: 20px;
}
/* section common */
.sec__title {text-align: center;}
.title {font-size: var(--title-text); font-weight: bold; font-family: 'Poppins', sans-serif;}
.sub__title {font-size: var(--sub-text); color: var(--sub-color); font-family: 'Poppins', sans-serif; margin-bottom: 20px;}



/* header */
.header{ 
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 10px;
  box-shadow: var(--shadow);
  z-index: 2000;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.web-menu{
  display: none;
}
.header .inner {}
.header .header__logo{  
  width: 110px;
}
.nav__container {
  height: 0;
  overflow: hidden;
  transition: all 0.2s;
}
.nav__container ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.nav__container ul li {
  width: 30%;
  text-align: center;
}
.nav__container ul li p {
  font-size: var(--sub-text);
}

.menu_open{}
.menu_close{display: none;}


/* mobiel home */
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__img__bg {
  position: relative;
  margin: 0 auto;
  width: 230px;
  height: 180px;
  background-color: var(--point-color);
  overflow: hidden;
  border-radius: 70px;
  margin-bottom: 50px;
}
.home__img__bg img {
  position: absolute;
  bottom: -20px;
  width: 150px;
  right: 30px;
}
.home__text__area {
  text-align: center;
  margin-bottom: 50px;
}
.home__text__area p{
  margin: 10px;
}
.home__text__area p:nth-child(1){
  font-size: var(--title-text);
  font-weight: bold;
}
.home__text__area p:nth-child(2){
  font-size: var(--sub-text);
  color: var(--sub-color);
}

/* about */
.about {
  margin-bottom: 150px;
}
.about__img {

  overflow: hidden;
}
.about__img img{
  border-radius: var(--img-radius);
  width: 250px;
  margin: 0 auto;
}
.about .text__area {
  margin: 30px 0;
  text-align: center;
}
.about .my__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.about .my__info>div {
  width: 45%;
  display: flex;
  gap: 5px;
  padding-left: 15px;
}
.about .my__info>div div p:nth-child(1){
  font-size: 0.9em;
}
.about .my__info>div div p:nth-child(2){
  font-size: 0.7em;
}

/* skills */
.skills {
  font-family: 'Poppins', sans-serif;
  padding-bottom: 200px;
}
.skills .skill_name {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.skills .skill_name .icon {
  font-size: 30px;
}
.skills_wrap {
  width: 100%;
}
.skills .bar {
  margin: 0 auto;
  gap: 15px;
  letter-spacing: 1px;
  font-size: 13px;
  position: relative;
  width: 95%;
  margin-bottom: 20px;
}
.skills .bar h3 {
  display: inline-block;
  font-size: 13px;
  color: rgb(54, 54, 54);
  width: 50px;
}

.skills .bar .thumb {
  position: relative;
  display: inline-block;
  width: 95%;
  height: 10px;
  background-color: #eee;
  border-radius: 60px;
}
.skills .bar span {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4A5CF6;
  border-radius: 50px;
}
.skills .bar.html span{
  width: 98%;
}
.skills .bar.css span{
  width: 98%;
}
.skills .bar.js span{
  width: 85%;
}
.skills .bar.jq span{
  width: 85%;
}
.skills .bar.react span{
  width: 80%;
}
.skills .bar.git span{
  width: 70%;
}
.skills .bar.github span{
  width: 70%;
}
.skills .bar.photo span{
  width: 60%;
}
.skills .bar.xd span{
  width: 75%;
}
.skills .bar abbr {
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  width: 30px;
  display: inline-block;
  height: 20px;
  border-radius: 50px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  margin-left: -10px;
  top: -5px;
  z-index: 1;
  background-color: #4A5CF6;
}
.skills .bar.html abbr{
  left: 98%;
}
.skills .bar.css abbr{
  left: 98%;
}
.skills .bar.js abbr{
  left: 85%;
}
.skills .bar.jq abbr{
  left: 85%;
}
.skills .bar.react abbr{
  left: 80%;
}
.skills .bar.git abbr{
  left: 70%;
}
.skills .bar.github abbr{
  left: 70%;
}
.skills .bar.photo abbr{
  left: 60%;
}
.skills .bar.xd abbr{
  left: 75%;
}

/* qualification */
#qualification_tab1,
#qualification_tab2 {
  display: none;
}
#qualification_tab1:checked ~ .qualification__tabs .qb1 {
  color: var(--point-color);
}
#qualification_tab1:checked ~ .qualification__sections .qc1 {
  display: grid;
}
#qualification_tab2:checked ~ .qualification__tabs .qb2 {
  color: var(--point-color);
}
#qualification_tab2:checked ~ .qualification__sections .qc2 {
  display: block;
}


.qualification {margin-bottom: 150px;}
.qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.qualification__btn {
  color: #666;
  font-size: 0.8em;
}
.qualification__sections {
  
}
.qualification__content {
  display: none;
}
.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 15px;
}
.qualification__data:nth-child(odd) .qualification__text {
  text-align: end;
}
.qualification__title {
  font-size: 0.8em;
  font-weight: 500;
}
.qualification__subtitle {
  display: inline-block;
  font-size: var(--sub-text);
  color: var(--sub-color);
}
.qualification__calender {
  font-size: 0.6em;
  color: var(--sub-color);
}
.qualification__calender span {
  font-size: 16px;
}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--point-color);
}
.qualification__line {
  display: block;
  margin: 0 auto;
  width: 3px;
  height: 100%;
  background-color: var(--point-color);
  transform: translateY(-7px);
}

/* projects */
.projects {margin-bottom: 150px}
.projects__container {
  position: relative;
  width: 95%;
  margin: 0 auto;
}
.projects__container .swiper-slide {
  width: 70%;
  text-align: center;
  background-color: #ccc;
}
.projects__container .swiper-slide .project__img{
  width: 95%;
  height: 200px;
  background-color: #666;
  margin: 0 auto;
}
.projects__container .swiper-slide .project__text {
  width: 95%;
  height: 200px;
  background-color: yellow;
  margin: 0 auto;
}
.projects__container .swiper-next,
.projects__container .swiper-prev {
  position: absolute;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
  color: #4A5CF6;
}
.projects__container .swiper-next {
  right: 0;
}
.projects__container .swiper-pagination {
  margin-bottom: -10px;
}
.projects__container .swiper-pagination-bullet-active {
  background-color: var(--point-color);
}