@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@400;500;700;900&family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
  --point-color: #4A5CF6;
  --sub-color : #666;
  --title-text: 1.2em;
  --sub-text: 0.7em;
  --global-radius : 5px;
  --img-radius : 15px;
  --shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

*{margin: 0;padding: 0;box-sizing: border-box; outline: none;}
body {font-family: 'Noto Sans KR', sans-serif; overflow-x: hidden;}
a {text-decoration: none; color: inherit;}
li {list-style: none;}
img {display: block;}
/* btn */
.contact__btn {
  width: 130px;
  height: 40px;
  display: block;
  font-family: 'Poppins', sans-serif;
  background-color: var(--point-color);
  color: #fff;
  outline: none;
  border: none;
  border-radius: var(--global-radius);
  margin: 0 auto;
}
/* icon */
i {
  font-size: 20px;
}
.icon {
  color: var(--point-color);
}
/* section common */
.sec__title {text-align: center;}
.title {font-size: var(--title-text); font-weight: bold; font-family: 'Poppins', sans-serif;}
.sub__title {font-size: var(--sub-text); color: var(--sub-color); font-family: 'Poppins', sans-serif; margin-bottom: 20px;}



/* header */
.header{ 
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 10px;
  box-shadow: var(--shadow);
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.web-menu{
  display: none;
}
.header .inner {}
.header .header__logo{  
  width: 110px;
}
.nav__container {
  height: 0;
  overflow: hidden;
  transition: all 0.2s;
}
.nav__container ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.nav__container ul li {
  width: 30%;
  text-align: center;
}
.nav__container ul li p {
  font-size: var(--sub-text);
}

.menu_open{}
.menu_close{display: none;}


/* mobiel home */
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__img__bg {
  position: relative;
  margin: 0 auto;
  width: 230px;
  height: 180px;
  background-color: var(--point-color);
  overflow: hidden;
  border-radius: 70px;
  margin-bottom: 50px;
}
.home__img__bg img {
  position: absolute;
  bottom: -20px;
  width: 150px;
  right: 30px;
}
.home__text__area {
  text-align: center;
  margin-bottom: 50px;
}
.home__text__area p{
  margin: 10px;
}
.home__text__area p:nth-child(1){
  font-size: var(--title-text);
  font-weight: bold;
}
.home__text__area p:nth-child(2){
  font-size: var(--sub-text);
  color: var(--sub-color);
}

/* about */
.about {
  margin-bottom: 150px;
}
.about__img {

  overflow: hidden;
}
.about__img img{
  border-radius: var(--img-radius);
  width: 250px;
  margin: 0 auto;
}
.about .text__area {
  margin: 30px 0;
  text-align: center;
}
.about .my__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.about .my__info>div {
  width: 45%;
  display: flex;
  gap: 5px;
  padding-left: 15px;
}
.about .my__info>div div p:nth-child(1){
  font-size: 0.9em;
}
.about .my__info>div div p:nth-child(2){
  font-size: 0.7em;
}

/* skills */
.skills {
  padding-bottom: 200px;
}