/* scroll */
.origin {
  opacity: 0;
  transform: translateY(100px);
  transition: all 2s;
}
.show .origin {
  opacity: 1;
  transform: translateY(0);
}
.delay-00 {
  transition-delay: 0;
}
.delay-03 {
  transition-delay: 1s;
}

/* icon */

.img-icon {
  width: 20px;
}
/* nav__btn */

.mgBtn {
  margin: 30px auto;
  background-color: var(--point-color);
  color: #fff;
  width: 100px;
  height: 100px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 100ms ease-out;
  text-align: center;
}
.mgBtn>span {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  transition: transform 100ms ease-out;
  display: flex;
  flex-direction: column;
}
.qualification .mgBtn {
  margin-right: 50px;
}
.home .mgBtn,
.contact .mgBtn {
  display: flex;
} 
/* section common */
.sec__title {text-align: center;}
.title {font-size: var(--title-text); font-weight: bold; font-family: 'Poppins', sans-serif;}
.sub__title {font-size: var(--sub-text); color: var(--sub-color); font-family: 'Poppins', sans-serif; margin-bottom: 20px;}

/* scroll__down */
.scroll__down {
  position: fixed;
  z-index: 11;
  bottom: 100px;
  right: 10%;
}
.web_scroll__down {
  width: 24px;
  height: 40px;
  border: 2px solid var(--point-color);
  border-radius: 50px;
  display: none;
}
.web_scroll__down p {
  font-size: 11px;
  position: absolute;
  left: -3px;
  bottom: -40px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.web_scroll__down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  background-color: var(--point-color);
  height: 3px;
  width: 2px;
  transform: translate(-50%,-50%);
  border-top: transparent;
  border-left: transparent;
  animation: scroll 1.3s ease-in-out infinite;
}
.mob_scroll__down {
  text-align: center;
}
.mob_scroll__down span{
  font-size: 40px;
  color: var(--point-color);
  animation: mobileScroll 1.3s ease-in-out infinite;
}
.mob_scroll__down p{
  font-size: 8px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
@keyframes scroll {
  0% {opacity: 0;}
  30% {opacity: 1;}
  50% {height: 12px;}
  60% {opacity: 1;}  
  100% {
    opacity: 0;
    height: 3px;
    top: 70%;}  
}
@keyframes mobileScroll {
  0% {opacity: 0;}
  30% {opacity: 1; transform: rotate(-15deg);}
  60% {opacity: 1; transform: rotate(-30deg);}  
  100% {
    opacity: 0; transform: rotate(0deg);}  
}

/* header */
.header{ 
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 10px;
  box-shadow: var(--shadow);
  z-index: 2000;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.web-menu{
  display: none;
}
.header .inner {}
.header .header__logo{  
  width: 110px;
}
.nav__container {
  height: 0;
  overflow: hidden;
  transition: all 0.2s;
}
.nav__container ul{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.nav__container ul li {
  width: 30%;
  text-align: center;
}
.nav__container ul li p {
  font-size: var(--sub-text);
}
.mobile-menu__btn{
  display: flex;
  align-items: center;
}
.menu_open{}
.menu_close,
.menu_list_open,
.menu_list_close{display: none;}

/* mobiel home */
.home {
  width: 100%;
  height: 100vh;
}
.home .inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
}
.home .hero__img {
}
.home .slider {
  height: 250px !important;
}
.home .hero__img .item {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  background-color: var(--point-color);
  border-radius: var(--global-radius);
  width: 200px !important;
  height: 250px !important;
}
.home .item__img{
  width: 200px;
  height: 250px;
  border-radius: 100%;
  overflow: hidden;
  transform: rotate(33deg);
  animation: morph 15s linear 0s infinite alternate;
  box-shadow: var(--shadow);
}
.home .item__img img {
  width: 200px;
  height: 250px;
  transform: rotate(-33deg);
}
@keyframes morph {
  0% {
    border-radius: 45% 55% 62% 38%/53% 51% 80% 47%;
  }
  20% {
    border-radius: 45% 55% 49% 51%/36% 70% 49% 64%;
  }
  40% {
    border-radius: 60% 40% 57% 43%/47% 62% 38% 53%;
  }
  60% {
    border-radius: 60% 40% 80% 80%/38% 36% 64% 62%;
  } 
}

.home__left__text {
  width: 300px;
}
.home__left__text>p {
  text-align: center;
  line-height: 60px;
  letter-spacing: 2px;
  font-size: 18px;
  font-family: 'Black Han Sans', sans-serif;
}
.point__color {
  color: var(--point-color);
}
.dynamic {
  position: relative;
}
.dynamic.active::after {
  content: '';
  top: 0;
  right: -3px;
  width: 2px;
  height: 95%;
  background-color: var(--point-color);
  position: absolute;
}

/* about */
.about {
  width: 100%;
  height: 100vh;
}
.mob_about__img {
  width: 55%;
  margin: 0 auto;
}
.mob_about__img img{
  width: 100%;
  border-radius: var(--img-radius);
}
.about__img {
  display: none;
  width: 250px;
  height: 550px;
  border-radius: var(--img-radius);
  transition: transform 200ms;
}
.about__img:hover{
  transform: scale3d(1.02, 1.02, 1.02);
}
.about__img .card__img{
  border-radius: var(--img-radius);
  width: 100%;
  height: 100%;
  background-image: url("../images/my.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
  position: relative;
  transition-duration: 250ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
}
.about__img .light {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--global-radius);
}
.about .text__area {
  width: 90%;
  margin: 20px auto 0 auto;
  padding: 10px;
  border-radius: var(--global-radius);
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);;
}
.about .text__area .point__color {
  font-weight: bold;
  font-size: 1.2em;
}
.about .text__area>p {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 0.9em;
  line-height: 30px;
}
.about .my__info {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 10px;
}
.about .my__info>div {
  width: 45%;
  display: flex;
  gap: 5px;
  padding-left: 15px;
}
.about .my__info>div div p:nth-child(1){
  font-size: 0.9em;
}
.about .my__info>div div p:nth-child(2){
  font-size: 0.7em;
}

/* skills */
.skills {
  font-family: 'Poppins', sans-serif;
  padding-bottom: 200px;
}
.skills .skill_name {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.skills .skill_name .icon {
  font-size: 30px;
}
.skills_wrap {
  width: 100%;
}
.skills .bar {
  margin: 0 auto;
  gap: 15px;
  letter-spacing: 1px;
  font-size: 13px;
  position: relative;
  width: 95%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: var(--global-radius);
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);;
}
.skills .bar h3 {
  display: inline-block;
  font-size: 13px;
  color: rgb(54, 54, 54);
  width: 50px;
}

.skills .bar .thumb {
  position: relative;
  display: inline-block;
  width: 95%;
  height: 10px;
  background-color: #eee;
  border-radius: 60px;
}
.skills .bar span {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4A5CF6;
  border-radius: 50px;
}
.skills .bar.html span{
  width: 98%;
}
.skills .bar.css span{
  width: 98%;
}
.skills .bar.js span{
  width: 85%;
}
.skills .bar.jq span{
  width: 85%;
}
.skills .bar.react span{
  width: 80%;
}
.skills .bar.git span{
  width: 70%;
}
.skills .bar.github span{
  width: 70%;
}
.skills .bar.photo span{
  width: 60%;
}
.skills .bar.xd span{
  width: 75%;
}
.skills .bar abbr {
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  width: 30px;
  display: inline-block;
  height: 20px;
  border-radius: 50px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  margin-left: -10px;
  top: -5px;
  z-index: 1;
  background-color: #4A5CF6;
}
.skills .bar.html abbr{
  left: 98%;
}
.skills .bar.css abbr{
  left: 98%;
}
.skills .bar.js abbr{
  left: 85%;
}
.skills .bar.jq abbr{
  left: 85%;
}
.skills .bar.react abbr{
  left: 80%;
}
.skills .bar.git abbr{
  left: 70%;
}
.skills .bar.github abbr{
  left: 70%;
}
.skills .bar.photo abbr{
  left: 60%;
}
.skills .bar.xd abbr{
  left: 75%;
}

/* qualification */
#qualification_tab1,
#qualification_tab2 {
  display: none;
}
#qualification_tab1:checked ~ .qualification__tabs .qb1 {
  color: var(--point-color);
}
#qualification_tab1:checked ~ .qualification__sections .qc1 {
  display: grid;
}
#qualification_tab2:checked ~ .qualification__tabs .qb2 {
  color: var(--point-color);
}
#qualification_tab2:checked ~ .qualification__sections .qc2 {
  display: block;
}


.qualification {margin-bottom: 150px;}
.qualification__tabs {
  margin: 30px auto 40px auto; 
  max-width: 500px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.qualification__btn {
  color: #666;
  font-size: 0.8em;
}
.qualification__sections {
  height: 300px;
}
.qualification__content {
  display: none;

}
.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 30px;
}
.qualification__data:nth-child(odd) .qualification__text {
  text-align: end;
}
.qualification__title {
  font-size: 0.8em;
  font-weight: 500;
}
.qualification__subtitle {
  display: inline-block;
  font-size: var(--sub-text);
  color: var(--sub-color);
}
.qualification__calender {
  font-size: 0.6em;
  color: var(--sub-color);
}
.qualification__calender span {
  font-size: 16px;
}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--point-color);
}
.qualification__line {
  display: block;
  margin: 0 auto;
  width: 3px;
  height: 100%;
  background-color: var(--point-color);
  transform: translateY(-7px);
}

/* projects */
.projects {margin-bottom: 150px}
.projects__container {
  position: relative;
  width: 95%;
  margin: 0 auto;
}
.projects__container .swiper-slide {
  width: 70%;
  text-align: center;
}
.projects__container .swiper-slide .project__img{
  width: 100%;
  margin: 0 auto;
}
.projects__container .swiper-slide .project__img img {
  width: 100%;
}
.projects__container .swiper-slide .project__text {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 40px;
}
.project__text .project__title{
  font-size: 1.1em;
  margin: 10px 0;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}
.project__text .project__info {
  font-size: 0.9em;
  margin: 20px 0;
}
.project__skill-icon {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}
.project__skill-icon img {
}
.project__btn-area {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.projects__container .swiper-next,
.projects__container .swiper-prev {
  position: absolute;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
  color: #4A5CF6;
}
.projects__container .swiper-next {
  right: 0;
}
.projects__container .swiper-pagination {
  margin-bottom: -10px;
}
.projects__container .swiper-pagination-bullet-active {
  background-color: var(--point-color);
}
.web-project__container {
  display: none;
}
/* contact */
.contact {margin-bottom: 150px}
.contact__data {
  width: 95%;
  padding: 10px;
  margin: 10px auto;
  display: flex;
  gap: 10px;
  align-items: center;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  font-family: 'Poppins', sans-serif;
  border-radius: var(--global-radius);
}
.contact__data .icon {
  font-size: 30px;
}
.contact__data__title {
  font-weight: bold;
  font-size: 0.9em;
}
.contact__data__subtitle {
  font-size: 0.8em;
}
.contact form {
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
}
.contact form {
  display: flex;
  flex-direction: column;
}
.contact form input,
.contact form textarea {
  border-radius: var(--global-radius);
  border: none;
  margin: 10px 0;
  padding: 20px;
  background-color: rgba(77,91,239,0.1);
}
.contact form button {
  border-radius: var(--global-radius);
  margin: 10px auto;
  width: 60%;
  padding: 15px;
  background-color: #ff5361;
  color: #fff;
  font-size: 0.8em;
  border: none;
  cursor: pointer;
}

/* footer */
.footer {
  width: 100%;
  background-color: #eee;
  padding-bottom: 150px;
}
.footer .inner {
  text-align: center;
}
.footer .inner i {
  font-size: 36px;
  color: var(--sub-color);
  margin: 30px 0;
  transition: all 0.3s;
}
.footer .inner i:hover {
  color: #000;
  transform: translateY(-5px);
}
.footer .inner p {
  font-size: 1em;
  color: var(--sub-color);
  margin-bottom: 10px;
}
.footer .inner .copyright {
  font-size: 0.6em;
}










@media all and (min-width:768px){
  body {
    font-size: 20px;
  }
  /* header */
  .header{
    top: 0;
    bottom: auto;
  }
  .nav__container {
    position: fixed;
    background-color: #fff;
    top: 50px;
    right: 0;
  }
  .menu_open,
  .menu_close {
    display: none;
  }
  .menu_list_open,
  .menu_list_close {
    width: 30px;
  }
  .menu_list_open {display: block;}
  .nav__container {
    height: 100vh;
    width: 0px;
    background-color: var(--point-color);
    color: #fff;
  }
  .nav__container ul {
    height: 100vh;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
  }
  .nav__container ul li {
    padding: 10px;
  }
  .nav__container ul li a{
    display: flex;
    gap: 15px;
    font-size: 24px;
  }
  .nav__container ul li a .icon {
    font-size: 30px;
    color: #fff;
  }

  /* home */
  .home {
  }
  .home__left__text {
    width: 600px;
  }
  .home__left__text>p {
    line-height: 60px;
    letter-spacing: 6px;
    font-size: 32px;
    font-family: 'Black Han Sans', sans-serif;
  }
  .home .slider {
    height: 400px !important;
  }
  .home .hero__img .item {
    width:300px !important;
    height: 400px !important;
  }
  .home .item__img{
    width: 300px;
    height: 400px;
    border-radius: 100%;
    overflow: hidden;
    transform: rotate(33deg);
    animation: morph 15s linear 0s infinite alternate;
    box-shadow: var(--shadow);
  }
  .home .item__img img {
    width: 300px;
    height: 400px;
    transform: rotate(-33deg);
  }

  /* about */
  .about {
    padding-top: 100px;
  }

  .about__flex {
    width: 90%;
    margin: 50px auto 0 auto;
    justify-content: center;
    display: flex;
    gap: 10px;
  }
  .about__flex>div {
    width: 50%;
  }
  .about__img img {
    width: 100%;
    margin: 0;
  }
  .about__flex .text__area {
    width: 500px;
    padding: 30px;
    margin: 0;
  }
  .about__flex .text__area>p {
    text-align: start;
    margin-bottom: 100px;
  }
  .about .my__info {
    gap: 20px;
    justify-content: start;
  }
  .about .my__info>div {
    padding: 10px;
  }

  /* skills */
  .skills {
    height: 100vh;
    padding-top: 100px;
  }
  .skills .skill__container {
    display: flex;
    justify-content: center;
  }
  .skills .skill__container>div {
    width: 50%;
    max-width: 500px;
  }

  /* qualification */
  .qualification {
    height: 100vh;
    padding-top: 100px;
  }
  .qualification__data {
    height: 150px;
  }

  /* projects */
  .projects{
    padding-top: 100px;
  }

  /* contact */
  .contact {padding-top: 100px;}
  .contact .contact__content {
    display: flex;
    justify-content: center;
  }
  .contact .contact__content>div {
    width: 50%;
    max-width: 500px;
  }
}



@media all and (min-width:1024px){
  .inner {
    width: 1025px;
    margin: 0 auto;
  }
  .mobile-menu__btn{display: none;}

  .web-menu {
    display: flex;
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
    align-items: center;  
    font-weight: 500;
    gap: 30px;
  }

  .home .inner {
    flex-direction: row-reverse;
    gap: 30px;
  }
  .hero__img {margin-right: 200px}

  .home__left__text {
    margin-right: 150px;

  }
  .home__left__text>p {
    text-align: start;
  }

  .projects__container {
    display:  none;
  }
  .web-project__container {
    display: block;
  }
  .web-project__contents {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  .web-project {
    position: relative;
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    font-family: 'Poppins', sans-serif;
    border-radius: var(--global-radius);
    width: 290px;
    height: 290px;
    background: url(../images/projects/duftdoft.png)no-repeat center center;
    background-size: cover;
    overflow: hidden;
  }
  .web-project:hover .hover__text{
    opacity: 1;
  }
  .web-project .hover__text {
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
  }
  .web-project .hover__text .btn__area {
    display: flex;
    gap: 10px;
  }
  .web-project .hover__text p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .web-project .hover__text p:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  .wp2 {
    background: url(../images/projects/megabox.jpg)no-repeat center center;
    background-size: cover;
  }
  .wp3 {
    background: url(../images/projects/gentle.jpg)no-repeat center center;
    background-size: cover;
  }
  .wp4 {
    background: url(../images/projects/gentle-react.jpg)no-repeat center center;
    background-size: cover;
  }
  .wp5 {
    background: url(../images/projects/starbucks.jpg)no-repeat center center;
    background-size: cover;
  }
  .wp6 {
    background: url(../images/projects/waterbomb.png)no-repeat center center;
    background-size: cover;
  }
  .web_scroll__down {
    display: block;
  }
  .mob_scroll__down {
    display: none;
  }
  .mgBtn {
    display: flex;
  }
  .about__img {display: block;}
  .mob_about__img {
    display: none;
  }
}




